@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 67%;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(8, 8, 8);
}

main{
    flex-grow: 1;
    .title{
        text-transform: uppercase;
        font-size: 4vw;
        color: white;
        padding-bottom: 6%;
        display: flex;
        justify-content: center;
    }
}

.Conteudo{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background: black;
    border-bottom: 2px solid rgb(242, 50, 25);
    box-shadow: 0px 22px 45px -23px rgb(242, 50, 25);
    .Logo{
        display: flex;
        height: 50px;
        position: absolute;
        padding: 0 9%;
        justify-content: flex-start;
        align-items: center;
        font-size: 2.5rem;
    }
    .Logo:hover{
        transform: scale(1.4);
    }
    .infor{
        display: flex;
        width: 100%;
        height: 100%;
        ul{
            width: 100%;
            padding: 0 9%; 
        }
        .ul-infor{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 2rem;
        }
        .Link-infor{
            height: 100%;
            display: flex;
            list-style: none;
            justify-content: center;
            flex-direction: column;
        }
        /* 
        aqui e o Open menu da navBar
        */
        .OpenMenu{
            height: 100%;
            display: none;
            align-items: center;
            button{
                background-color: transparent;
                border: none;
                font-size: 2rem;
                i{
                    color: white;
                }
            }
            
        }
    }
    li, a{
        margin-right: 10px;
        color: rgb(242, 50, 25);
    }
    li:hover{
        transform: scale(1.2);
        text-decoration: underline;
        transition: 65ms;
        color: rgb(232, 52, 52);
    }
}

.ul-infor-Menu{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background: black;
    box-shadow: 0px 55px 45px -60px rgb(242, 50, 25);
    font-size: 2rem;
}

.footer-infor{
    height: flex;
    padding: 6% 9%;
    color: rgb(242, 50, 25);
    background: black;
    border-top: 2px solid rgb(242, 50, 25);
    .Container-footer{
        display: flex;
        font-size: 15px;
    }
    .infor-page,
    .Contato-infor{
        padding: 0 1%;
        border-left: 2px solid white;
    }
    h2{
        text-transform: uppercase;
    }
    p{
        color: rgb(207, 206, 206);
    }
}
@keyframes cursor{
    to{
        border-left: 3px solid rgb(91, 255, 239);
    }
}
@keyframes words{
    0%, 40%{
        content: "Web Developer";
    }
    41%, 60%{
        content: "Front-end";
    }
    61%, 80%{
        content: "Web Design";
    }
    81%, 100%{
        content: "Dev Python e C";
    }
}
@media(max-width: 970px){
    body{
        overflow: auto;
    }
    .social-icons{
        display: flex;
    }
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .home-content span{
        font-size: 3rem;
    }
    .home-content p{
        font-size: 1rem;
        font-weight: 600;
    }
    .home-img img{
        margin-top: 100px;
        width: 60vw;
    }
}
@media(max-width: 800px){

    header{
        .infor{
            .Link-infor{
                display: none;
            }
            .OpenMenu{
                display: flex;
            }
        }
    }

    .contant{
        flex-direction: column;
        .social-icons{
            flex-direction: row;
        }
    }

    .footer-infor{
        .Container-footer{
            flex-direction: column;
        }
        .infor-page,
        .Contato-infor{
            padding: 1% 0%;
            border-left: none;
        }
    }

    .home{
        font-size: 20vw;
        height: 80vw;
        h1,
        span{
            font-size: 5vw;
        }
    }
}